
{% extends "base.html" %}

{% block navbar %}
{% endblock %}
{% block content %}
  
  <img id="Photo" class="rounded float-right" src="https://avatars0.githubusercontent.com/u/33612114?s=460&v=4" alt="My profile photo" width="200">

<div class="row justify-content-center">
    <div class="col-4">
      

    </div>
    <div class="col-4">
</div>
  </div>
<div class="row justify-content-center"><div class="col-4"><p class="label">Python RPG game</p></div><div class="col-4"><p class="label">GitHub</p></div></div>



{% endblock %}